<!-- views/auth/sign-in.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/script.js" defer></script>
  <title>Sign In | The Barber Hub</title>
</head>
<body>

  <%- include('../partials/_navbar.ejs') %> 

  <div class="auth-container">
    <div class="auth-box">
      <h1 class="auth-title">Welcome Back to <br><span>The Barber Hub</span></h1>
      <p class="auth-subtitle">
        The chair is waiting. Whether you're checking in on your clients, managing appointments, or just sharpening your skills, we’re glad to have you back. <br><br>
        Let's get you signed in so you can continue doing what you do best—crafting top-tier cuts and building community.
      </p>
      <form action="/auth/sign-in" method="POST" class="auth-form">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required />

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />

        <button type="submit" class="btn">Sign In</button>
      </form>

      <p class="auth-alt">Don't have an account? <a href="/auth/sign-up">Sign up here</a></p>
    </div>
  </div>

  <%- include('../partials/_footer.ejs') %> 

</body>
</html>