<!-- views/partials/_navbar.ejs -->
<nav class="main-nav">
  <div class="nav-left">
      <h1 class="site-title">The Barber Hub</h1> <!-- 🌟 New Site Title -->
      <a href="/" class="home-button">Home</a>
  </div>
  <div class="nav-center">
      <% if(user) { %>
          <a href="/users/<%= user._id %>/profile">Your Profile</a>
          <a href="/users/<%= user._id %>/clients">Manage Clients</a>
          <a href="/auth/sign-out">Sign Out</a>
      <% } else { %>
          <a href="/auth/sign-in">Sign In</a>
          <a href="/auth/sign-up">Sign Up</a>
      <% } %>
  </div>
</nav>