<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/script.js" defer></script> 
  <title>The Barber Hub</title>
</head>
<body>
  <%- include('./partials/_navbar.ejs') %> <!-- Navbar added here -->
  <h1>Welcome to The Barber Hub</h1>
  <p>Track your clients, showcase your best cuts, and manage your services.</p>
  <a href="/auth/sign-up">Sign up</a>
  <a href="/auth/sign-in">Sign in</a>
    <!-- maybe turn vip lounge into community page -->
  <p><a href="/vip-lounge">Get into the VIP Users Only lounge!</a></p>
  <%- include('./partials/_footer.ejs') %>
</body>
</html>
